/*
    Font
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

/*
   General
*/
html,body {
    padding: unset;
    margin: unset;
    height: 100%;
    width: 100%;
}

#root {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    height: auto;
    width: 100%;
    overflow: hidden;
}

h1,
span,
strong ,
p {
    font-family: var(--text-general-primary);
    font-style: normal;
    font-size: 20px;
    font-family: 400;
}

strong {
    font-weight: 800;
}

.loader {
    position: relative;
}
.loader:after {
  content: '';
  background: var(--color-primary-background);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius:4px;
  transform-origin: -16px -32px;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0% , 100% {
      transform: rotate(-45deg)  translate(-50% , -50%)
    }
    50% {
      transform: rotate(-245deg)  translate(-50% , -50%)
    }
}

table {
  border-collapse: collapse;
  width: 100%;
  max-height: 15em;
  overflow: auto;
}

th,
td {
  padding: 0.5em;
  text-align: left;
  border: 1px solid #ddd;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
}

th {
  background-color: var(--color-bg-table);
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

/*
 * Scrollbar General
*/
::-webkit-scrollbar {
    display: initial;
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}